body {
    margin: 0 auto;
}

.container {
    width: 300px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    padding: 5.5px;
    border-radius: 30px 30px 30px 30px;
}

.display {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
    border-radius: 30px 30px 8px 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 55px); justify-content: center;
    padding: 15px 0;
    gap: 8px;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: #292929;
    border-radius: 50px;
    color: #ffaead;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    font-size: 19px;
}

#AC, .operate {
    grid-column: span 2;
}
